# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Archivos de proteus
.workspace
.pdsbak

# Datos de redes y token del bot
Codigos-Arduino/BotTelegram-Medidor-Capacitores-ArduinoESP32/Token_Users_Wifi.h